<div class="container">
  <div class="login_section">
    <h3>Login</h3>
    <form (submit)="login($event)">
      <div class="row">
        <input type="text" placeholder="Username">
      </div>
      <div class="row">
        <input type="password" placeholder="Password">
      </div>
      <input type="submit">
    </form>
  </div>
</div>