.container{
    width: 100%;
    height: 100%;
    padding-top: 10%;
    box-sizing: border-box;
    background-image: url("../../assets/images/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.login_section{
    width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
}
h3{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0px 30px;
    color: white;
}
.row{
    width: 100%;
    margin-bottom: 25px;
}
.row input[type='text'],
.row input[type='password']{
    width: 100%;
    height: 30px;
    padding: 20px 10px;
    border-radius: 0px;
    border: 1px solid white;
    background-color: transparent;
}
input[type='submit']{
    width: 130px;
    padding: 10px 0px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    color: aliceblue;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 0px;
    text-transform: uppercase;
    margin: 5px auto 10px;
    font-weight: bold;
}
input[type='submit']:hover{
    color: white;
    background-color: black;
}
input[type='submit']:focus{
    outline: none;
}
.error{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: red;
}