<div class="dashboard_section">
  <h3>Album List</h3>
  <a routerLink=""><div class="logout">Logout</div></a>
  <div class="album_list">
    <p *ngFor="let item of albums">{{item.title}}</p>
  </div>
</div>