.dashboard_section{
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0px;
    padding-top: 75px;
}
.dashboard_section h3{
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    font-size: 30px;
    margin: 0px;
    text-align: center;
    padding: 25px 0px;
}
.logout{
    position: fixed;
    top: 20px;
    right: 50px;
}
.album_list{
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
}
.album_list p{
    font-size: 14px;
    line-height: 25px;
    text-align: left;
    padding: 0px 10px;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
    width: 30%;
}