/* You can add global styles to this file, and also import other style files */
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    height: 100%;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
    margin: 0px;
    padding: 0px;
    background: white;
    font-size: 12px;
    line-height: 20px;
    color: #000;
    height: 100%;
    text-shadow: none;
    /*font-family: Helvetica, sans-serif;*/
    /*overflow: hidden;*/
}

::-webkit-scrollbar {
    width: 5px;
    height: 1px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(117, 116, 116, 0.3);
}

::-webkit-scrollbar-thumb:window-inactive {
    background-color: #ccc
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #999;
}

::selection {
    color: #fff;
    background: #999;
}
.container {
    width: 1024px;
    margin: 0px auto;
}

.outer {
    height: 100%;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

a {
    color: #08c;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h6 {
    font-weight: 400;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    height: 20px;
    padding: 19px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text],
textarea,
input[type="password"],
input[type="email"],
input[type="number"] {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: none;
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    display: block;
    height: 25px;
    padding: 22px 8px;
    font-size: 14px;
    line-height: 20px;
    color: #666;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
}

textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
}
textarea{
    height: auto;
    /*font-family: nobel-light;*/
}

select {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: none;
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    display: block;
    height: 35px;
    padding: 4px 10px;
    margin: 15px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #666;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 93.5%;
}

.btn {
    height: 40px;
    border: none;
    font-size: 14px;
    background: #ff6600;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    text-shadow: none;
    padding: 0px 20px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    width: 100px;
    border-radius: 4px;
}

.btn:hover {
    background-color: #ED6103;
}

.btn_line {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.btn_line:hover {
    background: #fff;
    color: #585858;
}
.ripple {
    position: relative;
    overflow: hidden
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-transform: scale(10, 10);
    -moz-transform: scale(10, 10);
    -ms-transform: scale(10, 10);
    -o-transform: scale(10, 10);
    transform: scale(10, 10);
    opacity: 0;
    -webkit-transition: transform .5s, opacity 1s;
    -moz-transition: transform .5s, opacity 1s;
    -ms-transition: transform .5s, opacity 1s;
    -o-transition: transform .5s, opacity 1s;
    transition: transform .5s, opacity 1s;
}

.ripple:active:after {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: .2;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -ms-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}
[hidden]{display:none!important}